/* This first section contains the CSS for the board only! */
.boardContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

/* numbers */
.columnsLegends {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  gap: 4px;
}

/* letters */
.rowLegends {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* legends styles */
.columnsLegends h3,
.rowLegends h3 {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
}

/* class containing all the rows */
.rows {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* each row (rowA, rowB) */
.rows > div {
  display: flex;
  gap: 2px;
}

/* a tile */
.rows > div > div {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  background-color: #f0f0f0;
}

/* ship tiles */
.rows > div > div.ship {
  background-color: rgb(191, 246, 189);
}

/* hit tiles */
.rows > div > div.hit {
  background-color: rgb(246, 189, 189);
}

/* testing */

.shipTile {
  width: 20px;
  height: 20px;
  background-color: grey;
  border: solid 1px black;
}

.ship {
  background-color: rgb(139, 248, 139);
}

.rotateShip {
  display: flex;
}

.rows > div > div.tileHover {
  background-color: rgb(219, 237, 255);
}

.rows > div > div.shipHit {
  background-color: rgb(255, 80, 80);
}

.rows > div > div.waterHit {
  background-color: rgb(61, 122, 182);
}